.product-detail {
    padding: 24px;
    box-sizing: border-box;
}

.title-container {
    display: flex;
    justify-content: flex-start;
    gap: 12px;
    align-items: center;
    margin-bottom: 40px;
}

.title-container img {
    transform: rotate(180deg);
}

.title {
    margin: 0;
}

.my-order-container {
    width: 100%;
    margin-bottom: 46px;
}

.order {
    padding: 24px;
}

@media (max-width: 640px) {
    .product-detail {
        width: 100%;
    }
}


